@import "tailwindcss";

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.sidebar-nav::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
.sidebar-nav {
  scrollbar-width: none; /* Hide scrollbar */
}

/* For IE/Edge (if older support is needed) */
.sidebar-nav {
  -ms-overflow-style: none;
}

.disabled-field {
  background-color: #f0f9ff;
  border-color: #d1d5db;
  cursor: not-allowed;
}

.disabled-field-text {
  color: #374151;
  font-weight: 500;
}
